{
  "presets": [
   [
    "@babel/preset-env",
    {
      // "useBuiltIns": "usage",
      // "corejs": "3.1",
      "targets": "> 0.25%",
      "modules": "commonjs"
    },
   ],
    "@babel/preset-react"
  ],
  "plugins": ["babel-plugin-styled-components"]
}